
body {
  font-family: 'Neue Montreal';
  margin: 0;
  padding: 0;
  font-size: 24px;
  background-color: #e2dbcc; 
  background-size: 16px 16px;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

 h1, h3, .animated-header {
  color: #e2dbcc;
  font-size: 36px;
  font-family: 'Neue Montreal';
}



#header {
  text-align: center;
  padding: 14px;
  background: linear-gradient(to bottom, #8F8F8F, #000000);
  color: #e2dbcc;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}

.profile-picture img {
  max-width: 100%;
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Hovered links */
a:hover {
  color: #000000; 
}

/* Unvisited links */
a {
  color: #e2dbcc; /* Blue link color */
}

/* Regular (default) style for the special link */
.photo {
  color: red;
  /* Other regular styles for the special link */
}

.photo:hover {
  color: blue; /* Change the color to blue on hover */
  /* Other hover styles for the special link */
}




#AboutMe {
  line-height: 1.5;
  color: #310303;
}

#header {
  text-align: center; /* Center align the content within the header */
}

.profile-picture {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Maintain the aspect ratio */
  border-radius: 50%; /* Create a circular shape */
  overflow: hidden; /* Clip the image within the circular shape */
  display: inline-block; /* Prevent the image from stretching across the container */
}

.profile-picture img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

img.center {
  display: block;
  margin: 0 auto;
}
.gallery{
  text-align: center;
}

footer {
  text-align: center;
  background: linear-gradient(to top, #8F8F8F, #000000);
  color: #e2dbcc;
  padding: 10px 0;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
  body {
    font-size: 18px; /* Font size for tablets and larger screens */
  }
}

/* Desktop and larger screens */
@media (min-width: 1024px) {
  body {
    font-size: 20px; /* Font size for desktop and larger screens */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.element {
  animation: fadeIn 1s ease-in-out;
}

#header {
  transition: filter 0.3s ease;

  &:hover {
    filter: grayscale(100%);
  }
}


